@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
@import url('https://fonts.googleapis.com/earlyaccess/nicomoji.css');

body {
    margin: 0;
    padding: 0;
    font-family: 'Inder', sans-serif;
    background: linear-gradient(to bottom right, #476C9D, #7497CF, #2E4C72);
    height: 115vh;
    display: flex;
    flex-direction: column;
}

.header {
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
    background-color: #476C9D;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
.logo {
    font-family: 'Nico Moji', sans-serif;
    font-size: 36px;
    color: white;
    text-transform: uppercase;
}

.navbar {
    margin: 0; /* Убираем отступы */
}

.menu {
    padding: 10px; /* Добавляем отступы к элементам меню */
}

.menu:hover {
    border-bottom: 2px solid white;
}

.sign_in {
    background-color: white;
    color: #476C9D;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sign_in:hover {
    background-color: #476C9D;
    color: white;
}

.catalog-container {
    margin-top: 100px;
    text-align: center;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.catalog-title {
    font-family: 'Nico Moji', sans-serif;
    font-size: 50px;
    color: white;
    margin-right: 20px;
}


.search-input {
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}



.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px;
    justify-items: center;
}

.product-item {
  width: 150px;
  height: 170px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column; /* Элементы выстраиваются в колонку */
  justify-content: space-between; /* Добавляем расстояние между элементами */
  align-items: center;
  color: #476C9D;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden; /* Чтобы изображение не выходило за пределы */
 
  text-align: center; /* Центрируем текст */
}

.product-item img {
  padding-top: 13px;
  width: 100px; /* Размер изображения */
  height: auto; /* Сохраняем пропорции */
  transition: transform 0.3s ease;
  object-fit: cover; /* Масштабирование по размеру контейнера */
}
.product-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(99, 90, 90, 0.2);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(255, 255, 255, 0.5); /* Фоновый цвет и прозрачность */
    border-radius: 50%; /* Закругляем кнопки */
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%; /* Ширина кнопок */
}
.product-item {
    margin: 50px; /* Отступы между продуктами */
    text-align: center; /* Центрируем текст */
}