@import url(https://fonts.googleapis.com/earlyaccess/nicomoji.css);

body{
  background: linear-gradient(to bottom right, #476C9D, #7497CF, #2E4C72);
  font-family: 'JetBrains Mono';
  height: 130vh;
  background-size: cover; 
}
/* ----- Navigation -----*/
#myNavbar .nav-link{
  color: #2E4C72;
}
#myNavbar .navbar-brand{
  font-family: 'Nico Moji';
  font-size: 2rem;
  color: #476C9D;
}
.navbar .navbar-brand:hover{
  color:#2E4C72
}
.navbar .btn:hover{
  color: white;
}
button.btn{
  background-color: #476C9D;
  color: white;
}
button.btn:hover{
  background-color: #2E4C72;
  color: white;
}
/* Стили для больших экранов (например, для компьютеров) */
@media (min-width: 1024px) {
  /* Твои стили для компьютера */
}

/* Стили для планшетов */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Твои стили для планшета */
}

/* Стили для телефонов */
@media (max-width: 767px) {
  /* Твои стили для телефона */
}
.price-button {
  background-color: #476C9D;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  align-self: flex-start;
}
.logo {
  font-family: 'Nico Moji', sans-serif;
  font-size: 36px;
  color: white;
  text-transform: uppercase;
}

main {
  flex-grow: 1;
  margin-top: 6%;
}
.catalog-container{
  color: #2E4C72;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 40px;
  justify-items: center;
}

.product-item {
  width: 100%;
  max-width: 230px;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  object-fit: cover;
  
}
.product-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.product-item p {
  font-size: 1.1rem;
  color: #2E4C72;
  font-weight: 600;
  margin: 10px 0;
}

.product-item .price {
  font-size: 1rem;
  font-weight: 700;
  color: #476C9D;
  margin: 10px 0;
}
.rating {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.rating .star {
  color: gold;
  font-size: 18px;
  margin: 0 2px;
}
.price-button {
  margin-top: 15px;
  display: inline-block;
  padding: 8px 20px;
  background-color: #476C9D;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.price-button:hover {
  background-color: #2E4C72;
}
.bascket-title {
  font-family: 'Nico Moji', sans-serif;
  font-size: 50px;
  color: white;
  margin-right: 20px;
  padding-top: 100px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  text-align: center;
  margin: 10px;
}

.item img {
  max-width: 100%;
  height: auto;
}

.checkout {
  text-align: center;
  margin-top: 20px;
}

.checkout button {
  padding: 10px 20px;
  
  border-radius: 4px;
  
  color: black;
  cursor: pointer;
}

blockquote {
  margin: 20px 0;
  font-style: italic;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.footer-section{
  background-color: #476C9D;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
#footer_text:hover{
  color: #7497CF;
}
.footer-section a{
  text-decoration: none;
  color: white;
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.multi-step-form {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.step {
  margin-bottom: 20px;
}


.filter-section {
    display: flex; /* Использование flexbox для расположения фильтров */
    flex-wrap: wrap; /* Перенос на новую строку, если не помещаются */
    
}

.filter-section label {
  margin-top: 10px;
  margin-right: 10px; /* Отступ справа для меток */
    
}

.filter-section select {
  color: #2E4C72;
  padding: 10px; /* Отступы внутри селектов */
  margin-right: 20px; /* Отступ справа для селектов */
  border: 1px solid #ccc; /* Цвет рамки */
  border-radius: 4px; /* Закругленные углы */
  background-color: #fff; /* Цвет фона для селектов */
  font-size: 16px; /* Размер шрифта */
  transition: border-color 0.3s; /* Плавный переход цвета рамки */
}

.filter-section select:focus {
    border-color: #007bff; /* Цвет рамки при фокусе */
    outline: none; /* Убираем стандартное выделение */
}
