@import url(https://fonts.googleapis.com/earlyaccess/nicomoji.css);


body{
    background: linear-gradient(to bottom right, #476C9D, #7497CF, #2E4C72);
    font-family: 'JetBrains Mono';
    height: 100vh;
    background-size: cover; 
}
/* ----- Navigation -----*/
.navbar .nav-link{
    color: #2E4C72;
}

.navbar .navbar-brand{
    font-family: 'Nico Moji';
    font-size: 2rem;
    color: #476C9D;
}
.container .btn{
    background-color: #476C9D;
    color: white;
    cursor: pointer;
}
.container .btn:hover{
    background-color: #2E4C72;
}
button.btn{
    background-color: #476C9D;
    border: white;
    cursor: pointer;
}
button.btn:hover{
    background-color: #2E4C72;
    color: white;
}
button.btn{
    background-color: #476C9D;
    border: white;
    cursor: pointer;
}
button.btn:hover{
    background-color: #7497CF;
}
/* ----- Main -----*/
.main-section{
   margin-top: 6%;
   color: white;
}
.header-section2{
    margin-left: 50px;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}
#extraContent{
    display: none;
}
h2{
    font-family: 'Nico Moji';
}
/* ----- Column1 -----*/
.col{
    background-color: white;
    border-radius: 25px;
    width: 30%;
    margin: 15px;
    padding: 10px;
}
.col_layout{
    text-align: left;
}
.profile-block{
    display: inline-block;
    margin-top: 5%;
}
#Gojo{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    object-fit: cover;
}
.profile_name{
    font-size: 20px;
    color: #476C9D;
}
#fig_email{
    font-size: 15px;
    color: #94A6BE;
}
.edit_profile{
    background-color: #476C9D;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}
.edit_profile:hover{
   background-color: #2E4C72;
   color: white;      
}
/* ----- Column2 -----*/
#my_orders{
    align-items: left;
}
.my_orders-block{
    text-align: left;
    padding: 5px;
}
.condition-block{
    display: grid;
    align-items: center;
    text-align: left;
    gap: 5px;
    margin: 10px;
}
.condition{
    background-color: #2E4C72;
    border-radius: 10px;
    padding: 5px;
}
/* ----- Column3 -----*/
.imgs{
    width: 35%;
    height: 35%;
    border-radius: 10px;
    margin: 5px;
}
/* ----- Column4 -----*/
.settings_block{
    display: grid;
}
.set{
    background-color: #7497CF;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
.settings_block .set_btn{
    border-radius: 5px;
    background-color: white;
    border-color: #2E4C72;
    color: #2E4C72;
    text-align: right;
}
/* ----- Column5 -----*/
.contact-block{
    display: grid;
    color: #476C9D;
    text-align: left;
    margin-left: 10px;
}
/* ----- Footer -----*/
blockquote{
    color: white;
}
.footer-section{
    background-color: #476C9D;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.footer-section a{
    text-decoration: none;
    color: white;
}